* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/* Header */
header {
  padding: 1rem;
  background-color: #F50057;
  color: white;
}

header h1 {
  text-align: initial;
}

nav {
  text-align: right;
}

nav > a {
  padding: 0 0.5rem;
}


/* Main */
main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
  color: #333333;
}


/* quiz section */
.quiz-main {
  margin: 2rem auto;
  width: 90%;
  text-align: center;
}

.question-container {
  width: 85%;
  margin: 1rem auto;
  font-size: larger;
  padding: 1rem 0;
}

.quiz-subHeading{
  color: #333333;
}

.question-container p {
  margin: 1rem 0;
}


/*  Input */
.input-label {
  font-size: larger;
  color: #333333;
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid #333333;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.btn-check {
  background: #F50057;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  margin: 1rem auto;
  display: block;
}

.output {
  font-size: x-large;
  margin: 1rem;
}

/* Footer */
footer {
  text-align: center;
}

footer p {
  font-size: large;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li{
  margin: 1rem 0.6rem 1.2rem 0;
}
